<div data-extend-template="/public.html">
    <div data-block="content">

        <div class="row">
            <div class="col-sm-9">

                <div class="row bottom-line public-content-top" id="content-top">
                    <div class="col-sm-8 col-sm-offset-4">
                        <h1 translate>Login</h1>
                    </div>
                </div>

                <div class="row flash-static">
                    <div class="col-sm-8 col-sm-offset-4">
                        <flash-message></flash-message>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-4">

                        <form name="loginForm" class="form-horizontal" ng-submit="login()" role="form" novalidate>

                            <username
                                form="loginForm"
                                ng-model="user._username">
                            </username>

                            <password
                                form="loginForm"
                                ng-model="user._password">
                            </password>

                            <submit-button
                                form="loginForm"
                                button-text="{{ 'Login' | translate }}"
                                tracker="loginTracker">
                            </submit-button>

                            <div class="form-group">
                                <a ui-sref="register" class="link">
                                    <span translate>
                                        Register here!
                                    </span>
                                </a>
                                <a ui-sref="password-reset-request" class="link">
                                    <span translate>
                                        Lost password?
                                    </span>
                                </a>
                                <a ui-sref="resend-email-request" class="link">
                                    <span translate>
                                        Resend activation e-mail?
                                    </span>
                                </a>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>