<div data-extend-template="/app.html">
    <div data-block="content-top" id="content-top">
        <div class="row">
            <div class="col-sm-12">
                <h1 translate>Supply</h1>
            </div>
        </div>
    </div>
    <div data-block="content" class="content-rounded">

        <loader-paragraph ng-show="loadingTracker.active()"></loader-paragraph>

        <form name="supplyForm" ng-submit="save()" class="form-horizontal" ng-show="!loadingTracker.active()" novalidate>

            <div class="form-group" ng-controller="SupplierFindCtrl">
                <label class="col-xs-4 text-left required" translate>Supplier</label>
                <input class="col-xs-8 supplier-autocomplete" type="hidden" ui-select2="supplierOptions" name="supplier" ng-model="form.supply.data.supplierId" data-placeholder="{{'Search by first name, last name, e-mail, company name ...'|translate}}" required />
            </div>

            <datepicker-field
                form="supplyForm"
                ng-model="form.supply.data.timeReceived"
                label-text="{{ 'Date received' | translate }}"
                required="true">
            </datepicker-field>

            <inventory-list-editable supply="form.supply.data"></inventory-list-editable>

            <ng-form name="shippingForm">
                <price
                    form="shippingForm"
                    ng-model="form.supply.data.shippingCost"
                    label-text="{{ 'Shipping costs' | translate }}"
                    show-label="true"
                    show-errors="true"
                    required="true">
                </price>
            </ng-form>

            <ng-form name="otherForm">
                <price
                    form="otherForm"
                    ng-model="form.supply.data.otherCost"
                    label-text="{{ 'Other costs' | translate }}"
                    show-label="true"
                    show-errors="true"
                    required="true">
                </price>
            </ng-form>

            <!-- Footer -->
            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-8 total text-right">
                    <strong><span translate>Total</span>:</strong> <span ng-bind="form.supply.data.totalWithShippingAndOtherCosts() | currency"></span>
                </div>
            </div>

            <description-field
                form="supplyForm"
                ng-model="form.supply.data.comment"
                show-placeholder="true"
                label-text="{{ 'Comment' | translate}}"
                show-label="true">
            </description-field>

            <submit-button
                form="supplyForm"
                tracker="savingTracker">
            </submit-button>

        </form>

    </div>
</div>