
<div class="form-group" id="modal-loader">
    <loader-paragraph ng-show="loadingTracker.active()"></loader-paragraph>
</div>

<div class="form-group" ng-show="!loadingTracker.active()">
    <div id="stripe-payment-padding-top"></div>
    <!-- Previous cards -->
    <form name="stripePreviousCardsForm" class="form-horizontal" novalidate>
        <div class="row payment-modal-row" ng-show="profile.isStripeCustomer() && form.stripe.previousCards.length > 0">
            <div class="col-xs-3">
                <input type="radio" name="previousOrNewCard" ng-model="form.stripe.previousOrNewCard" value="previous"> <span translate>Use previous card</span>
            </div>
            <div class="col-xs-6">
                <selectable
                    form="stripePreviousCardsForm"
                    ng-model="form.stripe.previousCard"
                    options="form.stripe.previousCards"
                    select-id="cardSelect"
                    data-value="mask"
                    data-key="id"
                    required="true"
                    label-text="{{ 'Select card' | translate }}">
                </selectable>
            </div>
            <div class="col-xs-3">
                <div class="form-group col-sm-12 text-right">
                    <button class="btn btn-danger" ng-click="removeSelectedCard()" ng-class="removingTracker.active() ? 'tracking' : 'not-tracking'" ng-disabled="removingTracker.active()"><span class="glyphicon glyphicon-refresh fa-spin" ng-show="removingTracker.active()"></span> <span translate>Delete card</span></button>
                </div>
            </div>
        </div>
    </form>

    <!-- New credit card -->
    <form name="stripePaymentForm" class="form-horizontal" novalidate>

        <div class="row payment-modal-row">
            <div class="col-xs-12">
                <div id="stripe-payment-new-card">
                    <input type="radio" name="previousOrNewCard" ng-model="form.stripe.previousOrNewCard" value="new"> <span translate>Add new card</span>
                </div>
            </div>
            <div class="col-xs-12" ng-show="form.stripe.previousOrNewCard === 'new'">
                <div class="row">
                    <div class="col-xs-6">
                        <!-- Cardholder information -->
                        <name
                            form="stripePaymentForm"
                            ng-model="form.stripe.data.name"
                            label-text="{{ 'Cardholder name' | translate }}"
                            required="true">
                        </name>
                        <card-address-fields form="stripePaymentForm" ng-model="form.stripe.data" countries="countries"></card-address-fields>
                    </div>
                    <div class="col-xs-6">
                        <!-- Credit card information -->
                        <selectable
                            form="stripePaymentForm"
                            ng-model="form.stripe.manufacturer"
                            options="form.stripe.manufacturers"
                            select-id="manufacturerSelect"
                            order-by="name"
                            data-value="name"
                            data-key="key"
                            required="true"
                            label-text="{{ 'Card issuer' | translate }}">
                        </selectable>

                        <div ng-show="form.stripe.manufacturer.length > 0">

                            <card-number
                                form="stripePaymentForm"
                                ng-model="form.stripe.data.cardNumber"
                                manufacturer="form.stripe.manufacturer"
                                manufacturer-model="form.stripe.manufacturerModel"
                                required="true">
                            </card-number>

                            <card-expiry
                                form="stripePaymentForm"
                                ng-model="form.stripe.data.expiry"
                                manufacturer="form.stripe.manufacturerModel"
                                required="true">
                            </card-expiry>

                            <card-cvc
                                form="stripePaymentForm"
                                ng-model="form.stripe.data.cardCvc"
                                manufacturer="form.stripe.manufacturer"
                                manufacturer-model="form.stripe.manufacturerModel"
                                required="true">
                            </card-cvc>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Buttons -->
    <form name="submitForm" class="form-horizontal" ng-submit="pay()">
        <div class="row payment-modal-row">

            <div class="form-group text-center">
                <h5 class="normal hr2"></h5>
            </div>

            <div class="col-xs-6 text-left">
                <normal-button
                    button-text="{{ 'Cancel' | translate }}"
                    disabled="savingTracker.active()"
                    ng-click="cancel()"
                    div-class="form-group col-sm-12 text-left">
                </normal-button>
            </div>
            <div class="col-xs-6 text-right">
                <submit-button
                    form="submitForm"
                    button-text="{{ 'Pay' | translate }}"
                    disabled="(form.stripe.previousOrNewCard === 'previous' && !stripePreviousCardsForm.$valid) || (form.stripe.previousOrNewCard === 'new' && !stripePaymentForm.$valid)"
                    tracker="savingTracker"
                    div-class="form-group col-sm-12 text-right"
                    disabled-on-pristine="false">
                </submit-button>
            </div>
        </div>
    </form>
</div>