<div data-extend-template="/app.html">
    <div data-block="content-top" id="content-top">
        <div class="row">
            <div class="col-sm-12">
                <h1 translate>Recent payments</h1>
            </div>
        </div>
    </div>
    <div data-block="content" class="content-rounded">

        <table class="table table-hover table-payments">
            <thead>
                <tr>
                    <th translate>No.</th>
                    <th translate>Date</th>
                    <th translate>Content</th>
                    <th translate>Status (paid)</th>
                    <th translate>Amount</th>
                    <th class="text-center" translate>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="loadingTracker.active()">
                    <td colspan="6" class="text-center">
                        <span class="glyphicon glyphicon-refresh fa-3x fa-spin"></span> <span translate>Loading</span>...
                    </td>
                </tr>
                <tr ng-show="payments.length === 0 && !loadingTracker.active()">
                    <td colspan="6" class="text-center">
                        {{ 'No recent payments.' | translate }}
                    </td>
                </tr>
                <tr class="repeat-animate" ng-repeat="payment in payments | orderBy:'timeUpdate':true" ng-show="!loadingTracker.active()">
                    <td>
                        {{ $index+1 }}
                    </td>
                    <td>
                        {{ payment.timeUpdate | date }}
                    </td>
                    <td>
                        <ul>
                            <li ng-repeat="package in payment.packages">
                                <b>{{ package.quantity }}</b> &times; {{ package.name }}
                            </li>
                        </ul>
                    </td>
                    <td>
                        {{ payment.paid | yesNo }}
                    </td>
                    <td>
                        {{ payment.totalValue | currency }}
                    </td>
                    <td>
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button">
                                <span translate>Invoice</span>
                                <span class="caret"></span>
                            </button>
                            <ul role="menu" class="dropdown-menu  dropdown-menu-right">
                                <li>
                                    <a ng-click="viewInvoicePdf(payment.id)"><span translate>View</span></a>
                                </li>
                                <li>
                                    <a ng-click="downloadInvoicePdf(payment.id)"><span translate>Download</span></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <a ui-sref="payment-new" class="link" restrict translate>
            New payment
        </a>

    </div>
</div>