@import "variables/variables.scss";

form {

  input {
    border-radius: $input-border-radius;
  }

  input[type=text],
  input[type=password],
  input[type=email] {
    width: 100%;
    min-height: 32px;
    padding: 0 14px;
  }

  label.required:after {
    content: " *";
    color: inherit;
  }

  label.margin-bottom {
    margin-bottom: 15px;
  }

  input.datepicker {
    width: 100px;
  }

  .help-block {
    margin: 0;
  }

  .help-block span {
    display: block;
    font-size: 12px;
    margin: 5px 0 5px 15px;
  }

  input[type=checkbox] + div.help-block {
    display: block !important;        /* Checkbox inputs always have */
  }
  input:not(.has-visited) {
    border-color: unset !important;
  }

  input:not(.has-visited) + div.help-block,        /* Normal input   */
  input:not(.has-visited) + div.help-block,        /* Datepicker     */
  select:not(.has-visited) + div.help-block, {     /* Normal select  */
    display: none;     /* Do not show eagerly error messages to user */
  }

  table.datepicker {

    .btn {
      border: 1px solid $input-border-color;
      border-radius: 0 $input-border-radius $input-border-radius 0 !important;
      left: -1px;
      position: relative;
      top: 1px;
    }

    tr > td:first-child {
      width: 100px;
    }

    tr > td:nth-child(2) {
      vertical-align: top;
    }
  }

  .form-group {
    label[class*="col-"] { // Input field
      padding-left: 0 ;
      padding-right: 7px;
    }
    div[class*="col-"]:not(.force-left-padding) { // Input field
      padding-left: 0;
      padding-right: 0;
    }
  }

  span.datepicker {
    display: block;
    top: -1px;
  }

  .form-control {
    border: 1px solid $input-border-color;
  }
}

button:disabled {
  color: $disabled-dark-color;
}

button.fake-input {
  cursor: text;
  background-color: $secondary-color;
  color: $input-text-color;
  border-radius: $input-border-radius;
  border-color: $input-border-color;
  border-style: solid;
  border-width: 1px;
  padding: 5px 15px;
  width: 100%;
}

/* Buttons */

.btn:hover, .btn:active {
  color: white;
}

.btn-raised {
  min-height: 32px;
  padding: 0 22px;
  color: white;
}

.btn:not(.tracking):disabled {
  background-color: #dadada;
  border-color: #dadada;
  box-shadow: 0 $input-border-radius 0 #cacaca;
}
.btn-repair-primary:hover {
  background-color: #d0d0d0;
  border-color: #d0d0d0;
}
.btn-repair-primary {
  background-color: $green-color;
  border-color: $green-color;
  box-shadow: 0 $input-border-radius 0 $dark-green-color;
}
.btn-repair-primary:hover {
  background-color: $green-color-hover;
  border-color: $green-color-hover;
}

.btn-gray-normal {
  background-color: #6e6e6e;
  box-shadow: 0 $input-border-radius 0 #929292;
  color: white;
}
.btn-gray-normal:hover, .btn-gray-normal:active {
  background-color: #757575;
}

.btn-smaller-padding {
  padding: 0 10px !important;
}
.input-gray {
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  color: $input-text-color;
  background-color: $select-background-color;
}

/* Input fields */

input[type=text],
input[type=email],
input[type=password],
select.normal,
textarea.normal {
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  color: $input-text-color;
  background-color: $select-background-color;
}

textarea.normal {
  padding: 15px;
}
textarea.full {
  width:100%;
  min-width:100%;
  max-width: 100%;
}

div.textarea {
  border-color: $textarea-special-border-color;
  border-width: 1px 0 1px 0;
  border-style: solid;
  margin: 15px 0;

  textarea {
    border:none;
    background-color: transparent;
    min-height: 50px;
    padding-left:0;
    font-style: italic;
  }
}

.form-group,
.form-group > ng-form,
address-fields > .form-group {
  > div[class*="col-"]:not(:first-child):not(.no-padding) {
    padding-left: 15px;
  }
}
.form-group > ng-form + ng-form {
  > div[class*="col-"] {
    padding-left: 15px;
  }
}

.form-control:focus,
.has-error .form-control:not(.has-visited):focus{
  border-color: $ok-color;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px $ok-color;
}

.address-fields-separator {
  border-bottom: 1px solid $disabled-color;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

button.btn-repair-primary {
   span.glyphicon-ok {
     color: $ok-color;
   }
  span.glyphicon-remove {
    color: $error-dark-color;
  }
}

.has-error .form-control.has-visited:focus {
  border-color: $error-dark-color !important;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 4px $error-dark-color;
}

.has-error .form-control:not(.has-visited) {
  /* overwrite css here for fields with errors, but not visited yet */
}

button[type=submit] i.error {
  color: $input-border-color;
}

:disabled {
  border-color: $disabled-text-color !important;
  color: $disabled-dark-color !important;
}

/* CHECKBOX  */

div.checkbox {

  padding:0 !important;

  .box {
    background-color: $input-background-color;
    border: 1px solid #aeaeae;
    border-radius: $input-border-radius;
    cursor: pointer;
    overflow: hidden;
  }
  .box-checked {
    border-color: $ok-color;

    svg > polygon {
      fill:$ok-color;
      stroke-width:0;
    }
  }
  .box-unchecked {
    svg > polygon {
      display: none;
    }
  }
}
.checkbox.checkbox-small {
  height: 20px;
  width:  20px;
  margin-top: 7px;

  .box {
    height: 20px;
    width:  20px;

    > svg {
      height: 20px;
      width:  20px;
      //noinspection ALL
      > polygon {
        -ms-transform: scale(0.66); /* IE 9 */
        -webkit-transform: scale(0.66); /* Chrome, Safari, Opera */
        transform: scale(0.66);
      }
    }
  }
}
.checkbox.checkbox-normal {
  height: 30px;
  width:  30px;
  .box {
    height: 30px;
    width:  30px;

    > svg {
      height: 30px;
      width:  30px;
    }
  }
}

/* End checkbox */

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
  color: $error-dark-color;
}

label {
  font-weight: 300;
  color: black !important;
}

.form-horizontal .control-label {
  text-align: left;
}

/* Angucomplete */

.angucomplete-selected-row:hover {
  background-color: $green-color !important;
}
.angucomplete-row:hover {
  background-color: $green-color !important;
}
.angucomplete-description {
  font-size: 12px;
  font-style: italic;
}
.angucomplete-dropdown {
  width: 300%;
}

/* Select2 */

.select2-container {
  background-color: $input-background-color !important;
  border: 1px solid $input-border-color !important;
  border-radius: $input-border-radius;
}
.has-error .form-control.select2-container {
  border-color: $input-border-color;
}
.select2-container-multi .select2-choices {
  background-color: transparent !important;
  background-image: none !important;
  z-index: 1002;
}

ul.select2-choices {
  border:none !important;
  background-color: transparent !important;

  * {
    background-color: transparent !important;
  }
}

.select2-dropdown-open,
.select2-dropdown-open > ul.select2-choices {
  border-radius: $input-border-radius $input-border-radius 0 0 !important;
  border: 1px solid $input-border-color;
}
.select2-dropdown-open ~ .select-dropdown-button {
  display:none;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
  background-color: transparent;
}
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 6px 10px 6px 22px;
}
.select2-container-multi .select2-search-choice-close {
  left: 6px;
  top: 6px;
}
.select2-drop {
  background-color: $input-background-color !important;
  border-color: $input-border-color !important;
}
.select2-results .select2-highlighted {
  background: none;
  background-color: $green-color;
}
.select2-container-multi .select2-choices .select2-search-field input {
  padding: 5px 5px 5px 15px;
}
.select2-results .select2-result-label {
  padding: 5px 5px 5px 10px;
}

.select-dropdown-button { /* Custom added button on right side */
  border: 1px solid $input-border-color;
  border-radius: $input-border-radius;
  height: 20px;
  margin: 0;
  position: absolute;
  right: 8px;
  top: 8px;
  width: 21px;
  z-index:1002;

  > i {
    cursor: pointer;
    padding: 2px 5px;
    position: relative;
  }
}
.select2-search {
  margin: 0;
  min-height: 26px;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  top: -30px;
  white-space: nowrap;
  width: 99%;
  z-index: 10000;
  background-color: $input-background-color;

  input {
    background: linear-gradient(to bottom, transparent 85%, transparent 99%) repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    margin-bottom: 10px;
    padding-left: 10px;
    border-width: 0 0 1px 0;
    border-style: dashed;
    border-color: $input-background-secondary-color;
  }
}
.select2-container .select2-choice {
  height:32px;
  border:none;
  background-color: transparent;
  background: none;
  line-height: 30px;
  padding: 0 0 0 14px;
}
div.select2-container {
  width:100%;
  padding:0;
}

.select2-container .select2-choice > .select2-chosen {
  margin-right: 0;
}
.select2-container .select2-choice .select2-arrow {
  display: none;
}
.select2-drop-above .select2-search {
  bottom: -30px !important;
  top:unset;
}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices {
  border:none !important;
}
.select2-drop.select2-drop-above {
  margin-top: 3px;
}

/* End select2 */

.dropdown-btn-hide {
  background-color: $input-background-color;
  border-radius: $input-border-radius;
  height: 32px;
  position: absolute;
  padding:10px;
  right: 1px;
  top: 1px;
  width: 38px;
  z-index: 1002;

  > .select-dropdown-button {
    top: 6px;
  }
}

/* Stripe payment form */

div#stripe-payment-padding-top {
  width: 100%;
  height: 15px;
}
div#stripe-payment-new-card {
  padding-bottom:15px;
}
div.payment-modal-row {
  padding:0 30px;
}