@import "variables/variables.scss";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Gutterless grid
.row.no-gutter [class*='col-'],
.row.no-gutter [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
  font-size: 12px;
  background-color: $body-background-color;
}
body.app {
  background-color: $background-color;
}

header,
footer,
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  min-height: $header-height;
  background-color: $header-color;
  padding: 0 15px;
}

.navbar .navbar-brand,
.navbar .navbar-nav li a {
  color: white;
  font-size: 14px;
  font-weight: 300;
  height: 32px;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
}

div#sidebar-left .nav-sidebar{
  padding-top:10px;
}

/* H1-H6, TEXT */
h1 {
  margin: 2px 0 0;
}
h1.normal, h2.normal, h3.normal, h4.normal, h5.normal, h6.normal {
  margin: 5px 0;
  font-weight: 300;
}

/* Header */
header {
  display: block;
  position: relative;
  height: $header-height;
  padding:10px;
  font-weight: 100;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

  .navbar {
    min-height: initial;
  }

  .navbar-brand {
    height: initial;
  }

  #top-nav {
    padding: 0 10px;
  }

  #menu-top-buttons {
    > div {
      padding: 0;
    }

    > div:first-child {
      padding-left: 0px;
    }
  }

  ul#menu-top-right > li:hover {

    background-color: $dark-gray-color;

  }

  a#logout {
    color: white;

    > i {
      color: #db0000;
    }
  }
  a#logout:hover {
    color: #db0000;
  }


  div.header-padding {
    padding: 0 15px;

    .navbar-nav.navbar-right:last-child {
      margin-right: 0;
    }
  }

  ul#menu-top-left {
    list-style: none outside none;
    padding: 0;
    margin: 0;

    > li {
      display: inline;

      button {
        font-size: 18px;
        font-weight: 300;
        max-width: 225px;
        width: 45%;
        padding:0;
        box-shadow: none;
        border-radius: 0;

        i {
          margin-right:5px;
        }

      }
    }
  }
}

header.public {
  > div {
    text-align: center;
  }
}

/* Main content */

.main-content {
  padding-left: 0;
  padding-top: 10px;
}

main.app {

}

a.link {
  color: $green-color;
  cursor: pointer;
}
a.link:hover {
  color: $dark-green-color;
  text-decoration: underline;
}


a.disabled,
a.disabled:hover {
  color: $disabled-text-color;
  cursor: default;
  text-decoration: none;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
/* Set the fixed height of the footer here */
#push,
footer {
  height: 60px;
}
footer {
  background-color: $footer-color;
}

/* Lastly, apply responsive CSS fixes as necessary */

@media (max-width: 767px) {
  footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Footer end */

/* Sidebar start */

.sidebar {
  bottom: 0;
  left: 0;
  overflow: hidden;
  padding: 0 15px 0 0;
  position: fixed;
  top: $header-height+$header-sub-height;
  z-index: 1005;
}

/* Search-box */

#side-search {
  padding: 0 15px;

  input {
    background-color: $select-background-color;
    border: 1px solid $input-border-color;
    border-radius: $input-border-radius;
    padding: 8px 18px;
  }

  .input-group {
    width: 100%;
    div.select2-dropdown-open {
      width: 300%;
    }
  }
}

.select2-results li.select2-result-selectable {
  border-bottom:1px solid $input-background-secondary-color;
}

/* End search-box */

#sidebar-left {
  display: block;

  ul.nav-sidebar > li {
    > div.item.ng-click-active {
      background-color: $element-click-color;
    }
    > div.item {
      background-color: $element-color;
      border-bottom: 3px solid $element-ok-color;
      margin-bottom: 10px;
      min-height: 50px;
      padding: 10px 5px 5px;
      position: relative;
      width: auto;
      border-radius: 0 $element-border-radius $element-border-radius 0;
      cursor: pointer;

      i {
        text-align: center;
        width: 40px;
        top: -2px;
        position: relative;
      }

      span {
        font-size: 16px;
        font-weight: 500;
        vertical-align: super;
      }

    }

    > ul {
      > li {
        font-weight: 400;
        list-style: none outside none;
        margin: 0 0 18px;
        text-transform: uppercase;
      }
    }
  }
}

/* Sidebar end */


div#content-top {

  > .row > div {
    padding-left:0 !important;
  }
  h1 {
    font-size: 27px;
    font-weight: 200;
  }
}
div#content-top.public-content-top {
  h1 {
    margin:55px 0 20px 0;
  }
}

.content-rounded {
  background-color: $body-background-color;
  border-radius: $element-border-radius;
  padding:15px;
}

/* Text vertical middle */

div.content-middle {
  display:table;
  width:100%;
  height:100%;
}
div.cell-middle{
  display: table-cell;
  vertical-align: middle;
}

td.text-bottom {
  vertical-align: bottom;
}

/* Font / text colors */

.upper {
  text-transform: uppercase;
}

a {
  color: $primary-link-color;
}

a:hover, a:focus {
  color: $primary-link-hover-color;
}

a.text-ok {
  color: $ok-color;
}

/* Font / text colors end */

/* Loading icon*/

span.fa-refresh ~ span {
  font-weight: bold;
  padding-left: 10px;
  position: relative;
  top: -6px;
}

/* Loading icon end */

.border-right {
  border-right: 1px solid $secondary-color-border;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid $secondary-color-border;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

.container-fixed {
  height: $header-sub-height;
  position: fixed;
  width: 100%;
  z-index: 1005;
  background-color: $background-color;
}
.container-main {
  position: relative;
  top: $header-sub-height;
}
.container-sub-top {
  padding: 7px 15px;
}

.bottom-line {
  border-bottom: 1px solid $input-border-color;
}

div.float-left {
  float: left;
}
div.float-right {
  float: right;
}

/* TABLES */

table {
  thead, tfoot {
    font-weight: bold;
  }
}

/* TEXT */

.hr2 {
  position: relative;
}
.hr2:before,
.hr2:after {
  border-top: 1px solid $disabled-color;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 48%;
  bottom: auto;
  left: 0;
  right: 0;
}
.hr2:after {
  top: auto;
  bottom: 38%;
  border-top: none;
  border-bottom: 1px solid $disabled-color;
}
.hr2 > span {
  display: inline-block;
  background: white;
  position: relative;
  z-index: 1;
  padding: 0 15px 0 15px;
}
.hr2.text-center > span {
  padding: 0 15px;
}

.normal.hr2 {
  font-size: 12px;
  font-weight: 300;
  margin: 2px 0 !important;
}
.normal.hr2:after {
  border-bottom-width:0;
}

/* Fontawesome colors */

.fac-success {
  color: $success-color;
}
.fac-warning {
  color: $warning-color;
}
.fac-error {
  color: $error-color;
}

.btn-link {
  color: $green-color !important;
}
.btn-link:hover, .btn-link:active {
  color: $green-color-hover !important;
}

/* END TEXT */

/* FLASH MESSAGES */

.row.flash-static {
  margin-top: 15px;
}

div#flash-main {
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
  top: 1px;
  width: auto;

  span:not(:empty){
    display: inline-block;
    margin: 15px;
    position: relative;
  }
}

.no-padding {
  padding: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.form-horizontal .form-group {
  margin-left: 0px;
  margin-right: 0px;
}

/* Common div classes */

div.transparent > * {
  opacity: 0.4;
  filter: alpha(opacity=40); /* For IE8 and earlier */
}

/* Popover */
div.popover:not(.in) {
  z-index: -1006;
}
div.popover.in {
  z-index: 1006;
}

/* Dropdown buttons */

ul.dropdown-menu {

  min-width: 175px;

  li {
    text-align: left;
  }
  a {
    cursor: pointer;
  }
  button.btn-paypal {
    background-color: transparent;
    border: medium none;
    padding: 0 20px;
    width: 100%;
  }
  button.btn-paypal:hover {
    background-color: #f5f5f5;
  }

  .fa-1-5x {
    font-size: 1.5em;
  }
}

/* PROFILE */

div#profile {
  display: inline-block;

  a {
    font-size: 14px;
    text-transform: uppercase;
    vertical-align: bottom;

    > img {
      float: left;
      margin-right: 5px;
    }
  }

  a:hover {
    text-decoration: none;
  }

  .img-profile {
    width: 20px;
    height: 20px;
  }

  table {
    width:100%;

    tr > td:not(:last-child) {
      padding-right:3px;
    }
  }
}

/* Alert / Flash messages */

.alert {
  border-radius: 0;
  margin-top: -1px;
  text-align: center;
  padding: 14px 15px;
}
.alert.alert-error {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
}

#app-flash-message {
  display: block;
  margin: 0 auto;
  position: fixed;
  top: $header-height+1;
  width: 100%;

  div.alert:not(.in) {
    z-index: 999 !important;
  }
  div.alert.in {
    margin: 0 auto !important;
    position: relative;
    text-align: center;
    z-index: 1100;
  }
}

.flash.static {
  min-height: 52px;
}

.ng-hide {
  /* this is just another form of hiding an element */
  display:block!important;
  position:absolute;
  top:-9999px;
  left:-9999px;
}

/* MODAL */

.modal-dialog {
  margin: $header-height+$header-sub-height auto !important;
}
div#modal-loader {
  margin-top:15px;
}