@import "variables/variables.scss";

$repair-line-height: 100px;
$repair-line-border-radius: $element-border-radius;

/* REPAIR (View) */

div#repair-view-customer {
  border: 1px solid $secondary-color-border;
  background-color: $secondary-color;
  padding: 30px;
  p {
    margin:0;
  }
}

div#repair-view-details {
  padding: 30px;
}

div#repair-view-item {
  border: 1px solid $secondary-color-border;
  background-color: $secondary-color;
  padding: 30px;
}

table.repair-services-table {
  th,tr {
    vertical-align: top !important;
  }
  tfoot {
    text-align: right;
  }
}

p.repair-comment {
  border: 1px solid $secondary-color-border;
  padding: 30px;
}

/* REPAIR (Add form) */

form#repairForm {

  div.customer-autocomplete {
    width: 100%;
  }

  div#customer-or-separator,
  div#item-or-separator {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  div#repair-services {
    margin: 0 !important;
  }

  div.repair-customer-fields > div
  {
    padding: 0 20px;
    text-align: center;
  }

  div#repair-customer-fields div.row > div {
    height: 80px;
  }

  input[type=text], input[type=email], select {
    float:left;
    position: relative;
    width:100%;
  }

  li.repair-item {
    .checkbox.checkbox-middle {
      position: relative;
      top: 12px;
    }
  }

  textarea#comment {
    width: 100%;
    height: 50px;
    resize: none;
  }

  div#repair-details {
    margin-top:25px;
  }

  div.repair-due-date {
    padding-right: 15px;
  }
  div.repair-due-date,
  div.repair-due-time {
    float: left;
  }
  div.repair-due-date {
    input#due-date {
      border-right-width:0;
      border-radius: $input-border-radius 0 0 $input-border-radius;
    }
    button {
      border-color: $input-border-color;
      border-radius: 0 $input-border-radius $input-border-radius 0;
    }
  }
  div.repair-due-time {
    > table {
      position: relative;
      margin-top: -34px;
    }
    table
    {
      border-collapse: unset;
      tr:nth-child(2)
      {
        > td:nth-child(1) > input  {
          border-right-width:0;
          border-radius: $input-border-radius 0 0 $input-border-radius;
        }
        > td:nth-child(2) > input {
          border-left-width:0;
          border-radius: 0;
          border-right-width:0;
        }
        > td:nth-child(1) > input,
        > td:nth-child(2) > input {
          box-shadow: none;
          width:40px;
          padding: 0 10px !important;
        }
        > td:nth-child(3) > button {
          border-color: $input-border-color;
          border-radius: 0 $input-border-radius $input-border-radius 0;
        }
      }
    }
  }
  div#customer-contact-options {
    padding-top:15px;

    label {
      padding-top: 0 !important;
    }
  }
}

@media screen and (min-width: 1200px) {
  form#repairForm {

    div.customer-autocomplete {
      width: 75% !important;
    }
  }
}

div#repair-step-info {

  background-color: white;
  border-top-left-radius: $element-border-radius;
  height: 800px;
  left: 15px;
  padding: 15px 15px 15px 30px;
  position: relative;
  top: -48px;
  z-index: 1005;

  h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
  }

  > div.row:not(:first-child) {
    margin-bottom:10px;
  }

  > div.row.separator {
    border-bottom: 1px solid;
    left: -15px;
    margin-bottom: 15px;
    padding-bottom: 12px;
    position: relative;
    width: 60%;
  }

  > div.row.active {
    p.step-summary i,
    p.step-summary-title {
      color: $green-color;
    }
  }

  > div.row:not(.disabled) {
    cursor: pointer;
  }

  > div.row.disabled,
  > div.row.disabled ~ div.row {
    color: $disabled-text-color;
    cursor: auto !important;
  }

  p.step-summary-title {
    font-size: 14px;
  }

  p.step-summary {

    margin: 0;

    span {
      display:inline-block;
    }

    span.step-address,
    span.step-country {
      margin-top: 15px;
    }

  }

}

div#repair-steps {

  margin: 15px 0;

  button {
    svg {
      fill:transparent;stroke:white;stroke-width:1
    }
  }
  button:disabled {
    svg {
      stroke:$disabled-text-color;
    }
  }

  div#repair-finish:not(.active) {
    display: none;
  }

  div#step-previous-buttons,
  div#step-next-buttons {

    a {
      text-align: center;
      text-decoration: none;
      color:inherit;
    }

    a.button + span.swipe {
      width: 100%;
      display: inline-block;
    }

    .repair-previous-button,
    .repair-next-button {
      button {
        > span:not(.glyphicon) {
          position: relative;
          top: -5px;
        }
        > span.glyphicon {
          top: -3px;
        }
      }
    }

  }

  div#step-name {
    span.arrow-right {
      color: $green-color;
      font-size: 14px;
    }
  }

}

div#repair-items {

  ul {

    padding-left:0;

    > li {
      background-color: $secondary-color;
      border-radius: $element-border-radius;
      box-shadow: -$input-border-radius 0 0 $input-border-color, $input-border-radius 0 0 $input-border-color;
      cursor: pointer;
      list-style: none outside none;
      margin-bottom: 5px;
      padding: 20px;

      > span {
        display: inline-block;
      }

      > span.repair-item-manufacturer {
        width:30%;
      }
      > span.repair-item-model {
        width:20%;
      }
      > span.repair-item-serial {
        width:40%;
      }
    }

  }

}

div#repair-item-fields {

  textarea#description {
    min-width:100%;
    max-width:100%;
    min-height:42px; /* 2 lines of normal text */
  }

}

div#repair-customer-populated-separator {
  height: 20px;
}

div#repair-details {

  label#due-date-label {
    display: inline-block;
  }

  input#due-date {
    width:100px;
  }

  input#due-date ~ span.input-group-btn {
    display:inline;
  }

}

/* REPAIR ITEMS REPEATED */

div.repair-preview {

  z-index: 100;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: white;

  div.repair-box {
    background-color: $select-secondary-background-color;
  }

  div.repair-info {
    border-radius: $repair-line-border-radius 0 0 $repair-line-border-radius;
    background-color: white;

    > div {
      padding:10px 0;
      min-height:100px;
    }
  }

  div.repair-services {
    margin: 10px 0 20px 0;
  }

  div.repair-preview-check
  {
    padding: 25px 15px 0 15px !important;

    > i {
      z-index: 101;
    }
  }

  div.repair-preview-item
  {
    font-size: 18px;
    padding: 20px 15px 0 15px !important;
  }

  div.repair-preview-number {
    border-left:1px solid $line-color;
    height: $repair-line-height;
  }

  div.repair-preview-number,
  div.repair-preview-clock,
  div.repair-preview-status
  {
    padding: 20px 15px 0 !important;
    text-align: center;
  }

  div.repair-preview-status
  {
    border-radius: 0 $repair-line-border-radius $repair-line-border-radius 0;
    padding: 27px 0 !important;
  }

  div.repair-preview-line
  {
    border-top:1px solid $line-color;
  }

  div.service-text-middle {
    height:50px;
  }

  div.user-credentials {

    span > span {
      display: block;
      font-size: 24px;
      text-transform: uppercase;
      vertical-align: middle;
    }
  }

  div.repair-services {

    div.service-child {

      div.service-name {
        padding-left: 40px;
      }

    }

  }

  .popover {
    cursor: auto;

    span.assign-repairman {
      width:150px;
    }
    span.unassign-repairman {
      width:20px;
    }

    span.assign-repairman,
    span.unassign-repairman,
    span.mark-task {
      cursor: pointer;
    }

    span.assign-repairman:hover,
    span.mark-task:hover {
      background-color: $background-color;
    }

  }

  .popover.bottom {
    width:200px;
    //margin-left: -15px !important;
    //margin-top: 5px !important;
  }

  .bg-white
  {
    background-color: white !important;
  }
}
div.repair-preview.repair-preview-ok {
  border-radius: $repair-line-border-radius;
  box-shadow: -$repair-line-border-radius 0 0 0 $ok-color, $repair-line-border-radius 0 0 0 $ok-color;
}